@model Shopigol.Core.ViewModels.ProductListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

<div class="col-md-2">
    <h4>Filter by Category</h4>
    <div class="list-group">

        @if (Context.Request.Query["category"].Any())
        {
            <a asp-action="Index" class="list-group-item">All</a>
        }
        else
        {
            <a asp-action="Index" class="list-group-item active">All</a>
        }
        @foreach (var category in Model.ProductCategories)
        {
            if (Context.Request.Query["category"] == category.Category)
            {
                <a asp-action="Index" asp-route-category="@category.Category" class="list-group-item active">@category.Category</a>
            }
            else
            {
                <a asp-action="Index" asp-route-category="@category.Category" class="list-group-item">@category.Category</a>
            }

        }
    </div>
</div>
<div class="col-md-10">

    @foreach (var product in Model.Products)
    {
        @Html.Partial("_Summary", product)
    }

</div>

<div class="col-md-12 clearfix"></div>
